
.status{
    overflow-x: scroll;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: .8rem;
}


.graph{
    width: 100%;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: visible;
    outline: 1px solid red;
}

html{
    scrollbar-width: thick;
    scrollbar-color: red yellow;
}