
.status{
    overflow-x: scroll;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: .8rem;
}

html{
    scrollbar-width: none;
    scrollbar-color: black #fff;
}