
.status{
    overflow-x: scroll;
    margin-bottom: 20px;
    padding: 20px;
}

.status{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: .8rem;
    justify-content: center;
}


.graph{
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}